.button {
  display: block;
  width: 100%;
  padding: 11px 0;
  
  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  background-color: @main-color;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @main-color--hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--promo {
  font-size: 14px;
  line-height: 18px;
}

.button--more {
  color: @font-main;

  background-color: @background;
}

.button--form {
  border: none;
}

@media (min-width: @tablet) {
  .button--promo,
  .button--form {
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
  }

  .button--extra {
    padding: 10px 0;
  }
}