.cat-block {
  position: relative;
}

.cat-block__headline {
  margin: 0 0 0 70px;

  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::before,
  &::after {
    content: '';

    position: absolute;
    top: 20px;
    left: 20px;
  
    display: block;
    width: 50px;
    height: 50px;
  }

  &::before {
    border-radius: 50%;
    background-color: @main-color;
  }

  &::after {
    background-repeat: no-repeat;
    background-position: center;
  }
}

.cat-block__headline--thin::after {
  background-image: url(../img/icon/cat.svg);
  top: 17px;
}

.cat-block__headline--strong::after {
  left: 10px;

  width: 67px;
  
  background-image: url(../img/icon/tiger.svg);
}

.cat-block__descr {
  margin: 30px 0 20px 0;
}

.cat-block__link {
  display: flex;
  padding: 20px 0;

  font-size: 16px;
  line-height: 16px;
  font-family: @oswald;
  text-decoration: none;
  text-transform: uppercase;
  color: @font-link;

  border-top: 1px solid #d9d9d9;

  &::after {
    content: '';

    width: 24px;
    height: 11px;
    align-self: center;
    margin-left: 14px;

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 11'%3E%3Cpath fill='%233f4242' d='M25.4 0L32 5.5 25.4 11V6.6H0V4.4h25.4z'/%3E%3C/svg%3E");
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center right;

    transition: all 0.2s;
  }

  &:hover::after,
  &:focus::after {
    width: 34px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet) {
  .cat-block__headline {
    margin: 0 0 20px;

    font-size: 36px;

    &:before,
    &:after {
      top: 90px;
      left: auto;
      right: 60px;

      width: 200px;
      height: 200px;
    }
  }

  .cat-block__headline--thin::after {
    top: 77px;
    right: 62px;

    width: 195px;
    height: 195px;
  }

  .cat-block__headline--strong::after {
    right: 30px;

    width: 268px;
  }

  .cat-block__descr {
    margin: 0 0 40px;

    font-size: 16px;
    line-height: 24px;
  }
  .cat-block__link {
    font-size: 20px;
    line-height: 20px;

    border: none;

    &:after {
      margin-left: 22px;
    }
  }
}

@media (min-width: @desctop) {
  .cat-block {
    padding: 80px 50px 65px;
  }

  .cat-block__headline {
    margin: 0 0 75px 165px;

    &::before {
      top: 47px;
      left: 50px;

      width: 100px;
      height: 100px;
    }
  }

  .cat-block__headline--thin::after {
    top: -6px;
    left: 65px;

    width: 70px;
  }

  .cat-block__headline--strong::after {
    top: 0;
    left: 34px;

    width: 130px;
  }

  .cat-block__descr {
    margin: 0 0 30px;
  }

  .cat-block__link {
    width: 190px;
    padding: 0;
  }
}