.catalog-item {
  padding-bottom: 24px;

  border-top: 1px solid #ededed;

  &:last-of-type {
    border-bottom: 1px solid #ededed;
  }
}

.catalog-item__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto;
}

.catalog-item__headline-link {
  text-decoration: none;
  color: @font-headlines;
}

.catalog-item__text-block {
  width: 50%;
  order: 2;
}

.catalog-item__img-wrapper {
  width: 50%;
  order: 1;

  line-height: 0;
}

.catalog-item__img-link {
  display: block;
  margin: 0 auto;
}

.catalog-item__img {
  display: block;
  margin: 0 auto;
}

.catalog-item__button {
  width: 100%;
  order: 2;
}

.catalog-item__headline {
  width: 90px;
  margin: 22px 0 12px;

  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog-item__table {
  width: 100%;

  font-size: 12px;
  line-height: 16px;

  border-collapse: collapse;
}

.catalog-item__table-data {
  padding: 0;

  &:last-child {
    text-align: right;
  }
}

@media (min-width: @tablet) {
  .catalog-item {
    box-sizing: border-box;
    padding: 0 0 40px;

    border: none;
    background-image: linear-gradient(to bottom, #fff 0%, #fff 80px, @background 80px, @background 100%);
  }

  .catalog-item__wrapper {
    width: auto;
  }

  .catalog-item__img-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 208px;
    margin-bottom: 38px;
  }

  .catalog-item__img {
    width: 324px;
  }

  .catalog-item__img-link {
    min-height: 160px;
    margin-top: auto;

    overflow: hidden;
  }

  .catalog-item__text-block {
    width: 100%;
    margin: 0 40px;
  }

  .catalog-item__headline {
    width: 130px;
    margin: 0 auto 18px;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .catalog-item__table {
    margin-bottom: 33px;

    font-size: 16px;
  }

  .catalog-item__table-row {
    border-bottom: 1px solid #cdcdcd;
  }

  .catalog-item__table-data {
    padding: 8px 0 7px;
  }

  .catalog-item__button {
    margin: 0 40px;
  }
}

@media (min-width: @desktop) {
  .catalog-item__img {
    width: 245px;
  }
}