.categories {
  display: flex;
  flex-direction: column;
}

.categories__block {
  padding: 25px 20px 3px;
  margin-bottom: 20px;

  background-color: @background;
}

.categories__block:last-child {
  margin-bottom: 0;
}