.contacts {
  padding-top: 30px;
}

.contacts__block {
  display: flex;
  justify-content: space-between;
  min-width: 280px;
  max-width: 630px;
  margin: 0 @mobile-padding 25px;
}

.contacts__descr {
  margin: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  text-transform: uppercase;
  color: @font-headlines;
}

.contacts__addres {
  line-height: 20px;
}

.contacts__map {
  min-height: 400px;

  background-image: url(../img/picture/map-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contacts--catalog,
.contacts--form {
  background-color: @background;
}

.contacts__tablet-br {
  display: none;
}

@media (min-width: 670px) {
  .contacts__block {
    margin: 0 auto 25px;
  }
}

@media (min-width: @tablet) {
  .contacts__block {
    margin: 0 auto 55px;
  }

  .contacts__descr {
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__addres {
    font-size: 16px;
    text-align: right;
  }

  .contacts__tablet-br {
    display: block;
  }
}