.example {
  padding: 15px 0 35px;
  background-color: @background;
}

.example__headline {
  margin: 0 @mobile-padding 20px;
}

.example__block--first-block {
  margin: 0 @mobile-padding;
}

.example__descr {
  margin: 0 0 25px;
}

.example__numbers-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto 20px;
}

.example__numbers {
  display: flex;
  flex-direction: column;
  width: 125px;
  box-sizing: border-box;
  margin: 0;

  font-size: 24px;
  line-height:24px;
  font-family: @oswald;
  text-align: center;
  text-transform: uppercase;
  color: #111;
}

.example__numbers-footnote-up {
  padding: 15px 0;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__numbers-footnote {
  order: 2;
  align-self: center;
  width: 87px;
  margin-top: -9px;

  font-size: 12px;
  line-height: 12px;
  font-family: @arial;
  text-transform: none;
  color: @font-main;

  background-color: @background;
}

.example__price-block {
  margin: 0 0 40px;

  line-height: 20px;
  font-family: @oswald;
  text-align: center;
  text-transform: uppercase;
  color: @font-headlines;

  & br {
    display: none;
  }
}

.example__img-wrapper {
  margin: 0 auto 35px;
}

.example__img {
  display: block;
  margin: 0 auto;
}

.example__switch-block {
  display: flex;
  justify-content: center;
}

.example__switch-btn {
  min-width: 75px;

  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  text-transform: uppercase;
  color: @font-headlines;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:hover .example__switch-span,
  &:focus .example__switch-span {
    border-bottom: 1px solid #989898;
  }

  &:active .example__switch-span {
    border: none;
  }
}

.example__switch {
  position: relative;

  width: 85px;
  height: 16px;
  box-sizing: border-box;
  align-self: center;

  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;

  cursor: pointer;

  &::after {
    content: '';

    position: absolute;
    top: 4px;
    left: 4px;

    display: block;
    width: 35px;
    height: 6px;

    background-color: @main-color;
    border-radius: 3px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  }

  &:active {
    border: 2px solid @main-color;
  }

  &:active::after {
    top: 3px;
    left: 3px;
  }
}

@media (min-width: @tablet - @mobile-padding) {
  .example__headline,
  .example__block--first-block {
    width: 708px;
    margin: 0 auto 20px;
  }
}

@media (min-width: @tablet) {
  .example {
    padding: 45px 0 70px;

    background-color: #fff;
    border-top: 1px solid #e6e6e6;
  }
  .example__headline {
  width: auto;
  max-width: 1220px;
  margin: 0 @tablet-padding 50px;

  font-size: 60px;
  }

  .example__block--first-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin: 0 @tablet-padding 80px;
  }

  .example__descr {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__numbers-wrapper {
    width: 366px;
    margin: 0;
  }

  .example__numbers {
    width: 162px;

    font-size: 30px;
    line-height: 30px;
  }

  .example__numbers-footnote-up {
    padding: 20px 0;
  }

  .example__numbers-footnote {
    width: auto;
    padding: 0 8px;

    font-size: 14px;
    line-height: 14px;

    background-color: #fff;

    & br {
      display: none;
    }
  }

  .example__price-block {
    margin: 7px 0 0;

    font-size: 20px;
    line-height: 28px;
    text-align: right;

    & br {
      display: block;
    }
  }
}

@media (min-width: 1280px) {
  .example__headline {
    margin: 0 auto 50px;
  }
}

@media (min-width: @desctop) {
  .example {
    padding: 0;

    border: none;
  }

  .example__headline {
    margin: 0 auto 65px;
  }

  .example__desctop-block {
    background-color: @background;
  }

  .example__desctop-block-wrapper {
    width: 1220px;
    display: flex;
    justify-content: space-between;
    padding: 75px 0;
    margin: 0 auto;
  }

  .example__block {
    position: relative;

    margin: 0;

    &:first-child {
      width: 440px;
    }

    &:last-child {
      width: 610px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .example__descr {
    margin-bottom: 65px;
  }

  .example__numbers-footnote {
    background-color: @background;
  }

  .example__numbers-wrapper {
    margin-bottom: 55px;
  }

  .example__price-block br {
    display: none;
  }

  .example__price-block {
    margin: 0;
  }

  .example__price-span {
    margin-right: 60px;
  }

  .example__img {
    width: 690px;
    height: auto;
  }

  .example__img-wrapper {
    position: absolute;
    top: -260px;
    left: -40px;

    width: 690px;
    margin: 0;
  }

  .example__switch-btn {
    font-size: 20px;

    border-bottom: 1px dotted #bebebe;
  }
}