.example {
  padding: 19px 0 35px;
  background-color: @background;
}

.example__headline {
  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto 20px;
}

.example__block--first-block {
  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto 33px;
}

.example__descr {
  margin: 0 0 26px;
}

.example__numbers-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
}

.example__numbers {
  display: flex;
  flex-direction: column;
  width: 125px;
  box-sizing: border-box;
  margin: 0;

  font-size: 24px;
  line-height:24px;
  font-family: @oswald;
  text-align: center;
  text-transform: uppercase;
  color: #111;
}

.example__numbers-footnote-up {
  padding: 15px 0;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__numbers-footnote {
  order: 2;
  align-self: center;
  width: 87px;
  margin-top: -9px;

  font-size: 12px;
  line-height: 12px;
  font-family: @arial;
  text-transform: none;
  color: @font-main;

  background-color: @background;
}

.example__price-block {
  margin: 0;

  line-height: 20px;
  font-family: @oswald;
  text-align: center;
  text-transform: uppercase;
  color: @font-headlines;
}

.example__price-block br {
  display: none;
}

.example__img-wrapper {
  margin: 0 auto 32px;
}

.example__img {
  display: block;
  margin: 0 auto;
}

.example__switch-block {
  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.example__switch-btn {
  min-width: 75px;

  font-size: 16px;
  line-height: 20px;
  font-family: @oswald;
  text-transform: uppercase;
  color: @font-headlines;

  background-color: transparent;
  border: none;

  cursor: pointer;

  &:active {
    transform: translateY(2px);
  }

  &:hover .example__switch-span,
  &:focus .example__switch-span {
    border-bottom: 1px solid #989898;
  }

  &:active .example__switch-span {
    border: none;
  }
}

.example__switch {
  position: relative;

  width: 85px;
  height: 16px;
  box-sizing: border-box;
  align-self: center;

  background-color: #fff;
  border: 1px solid #cdcdcd;
  border-radius: 5px;

  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  }

  &::after {
    content: "";

    position: absolute;
    top: 4px;
    left: 4px;

    display: block;
    width: 35px;
    height: 6px;

    background-color: @main-color;
    border-radius: 3px;

    transition: transform 0.2s;
  }
}

.example__switch--after::after {
  transform: translateX(40px);
}

.example__picture-hide {
  display: none;
}

@media (min-width: @tablet) {
  .example {
    padding: 45px 0 0;

    background-color: #fff;
    border-top: 1px solid #e6e6e6;
  }

  .example__headline {
  width: @tablet - (@tablet-padding * 2);
  margin: 0 auto 61px;

  font-size: 60px;
  }

  .example__block--first-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: @tablet - (@tablet-padding * 2);
    margin: 0 auto 80px;
  }

  .example__descr {
    margin-bottom: 53px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__numbers-wrapper {
    width: 366px;
    margin: 0;
  }

  .example__numbers {
    width: 162px;

    font-size: 30px;
    line-height: 30px;
  }

  .example__numbers-footnote-up {
    padding: 20px 0;
  }

  .example__numbers-footnote {
    width: auto;
    padding: 0 8px;

    font-size: 14px;
    line-height: 14px;

    background-color: #fff;
  }

  .example__price-block {
    margin: 9px 0 0;

    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }

  .example__numbers-footnote br,
  .example__price-block br {
    display: none;
  }

  .example__img-wrapper {
    margin-bottom: 21px;
  }

  .example__img {
    width: 690px;
  }

  .example__block--second-block {
    padding-bottom: 72px;

    background-image: linear-gradient(to bottom, transparent 0%, transparent 170px, @background 170px, @background 100%);
  }

  .example__switch-block {
    width: @tablet - (@tablet-padding * 2);
  }
  
  .example__switch {
    width: 430px;
    height: 6px;

    border: none;
    border-radius: 3px;
    background-color: #dcdcdc;

    &:hover {
      box-shadow: none;
    }

    &::after {
      display: none;
    }
  }

  .example__switch-span {
    border-bottom: 1px dotted rgba(17, 17, 17, 0.23);
  }

  .example__switch-btn {
    padding: 0 24px;

    font-size: 20px;

    &:hover .example__switch-span,
    &:focus .example__switch-span {
      border-bottom: 1px solid rgba(17, 17, 17, 0.4);
    }

    &:active .example__switch-span {
      border: none;
    }
  }
}

@media (min-width: @desktop) {
  .example {
    padding: 0;

    border: none;
  }

  .example__headline {
    width: @desktop - (@desktop-padding * 2);
    margin: 0 auto 72px;
  }

  .example__desktop-block {
    background-color: @background;
  }

  .example__desktop-block-wrapper {
    width: @desktop - (@desktop-padding * 2);
    display: flex;
    justify-content: space-between;
    padding: 71px 0;
    margin: 0 auto;
  }

  .example__block {
    position: relative;

    margin: 0;

    &:first-child {
      width: 440px;
    }

    &:last-child {
      width: 610px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

  .example__descr {
    margin-bottom: 68px;
  }

  .example__numbers-footnote {
    background-color: @background;
  }

  .example__numbers-wrapper {
    margin-bottom: 52px;
  }

  .example__price-block br {
    display: none;
  }

  .example__price-block {
    margin: 0;
  }

  .example__price-span {
    margin-right: 60px;
  }

  .example__img {
    width: 690px;
    height: auto;
  }

  .example__img-wrapper {
    position: absolute;
    top: -260px;
    left: -40px;

    width: 690px;
    margin: 0;
  }

  .example__switch-btn {
    min-width: auto;
    padding: 0;

    font-size: 20px;
  }

  .example__block--second-block {
    padding-bottom: 0;
  }

  .example__switch-block {
    justify-content: space-between;
    width: 570px;
    margin: 0 0 4px auto;
  }

  .example__switch {
    padding: 0;
    margin: 0 20px;
  }
}