.extra__headline {
  display: block;

  font-size: 24px;
  line-height: 24px;

  background-image: linear-gradient(to bottom, transparent 0, transparent 14px, @main-color 14px, @main-color 17px, transparent 17px, transparent 100%);
}

.extra__headline-span {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 @mobile-padding;

  background-color: #fff;
}

.extra__list {
  padding: 0;
  margin: 0 @mobile-padding 40px;

  list-style: none;
}

.extra__li {
  padding: 14px 0 17px;

  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extra__item {
  margin: 0 0 15px;

  font-size: 16px;
  line-height: 16px;
  font-family: @oswald;
  text-transform: uppercase;
  color: @font-extra;
}

.extra__item-table {
  width: 100%;
  margin-bottom: 15px;

  line-height: 14px;

  border-collapse: collapse;
}

.extra__table-data:last-child {
  text-align: right;
}

.extra__stock {
  position: relative;

  margin: 0 @mobile-padding;

  background-image: url(../img/picture/gift-photo-mobile.jpg);
  background-color: @main-color;
  background-repeat: no-repeat;
  background-position: center;
  background-clip: content-box;
  background-origin: content-box;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 65px;
    left: 0;

    display: block;
    width: 55px;
    height: 60px;
    margin-left: 50%;
    transform: translateX(-50%);

    background-image: url(../img/icon/gift.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.extra__stock-descr {
  display: block;
  width: 150px;
  padding: 185px 0 43px;
  margin: 0 auto;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}