.extra__headline {
  display: block;

  font-size: 24px;
  line-height: 24px;

  background-image:
    linear-gradient(to right, #fff 0, #fff 33%, transparent 33%, transparent 100%),
    linear-gradient(to bottom, transparent 0, transparent 14px, @main-color 14px, @main-color 17px, transparent 17px, transparent 100%);
}

.extra__headline-span-wrapper {
  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto;
}

.extra__headline-span {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 @mobile-padding;

  background-color: #fff;
}

.extra__list {
  padding: 0;
  margin: 0 @mobile-padding 40px;

  list-style: none;
}

.extra__li-wrapper {
  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto;
}

.extra__li {
  box-sizing: border-box;
  padding: 14px 0 17px;

  border-top: 1px solid #cdcdcd;

  &:last-of-type {
    border-bottom: 1px solid #cdcdcd;
  }
}

.extra__item {
  margin: 0 0 15px;

  font-size: 16px;
  line-height: 16px;
  font-family: @oswald;
  text-transform: uppercase;
  color: @font-extra;
}

.extra__item-table {
  width: 100%;
  margin-bottom: 15px;

  line-height: 14px;

  border-collapse: collapse;
}

.extra__table-data:last-child {
  text-align: right;
}

.extra__stock {
  position: relative;

  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto;

  background-image: url(../img/picture/gift-photo-mobile@1x.jpg);
  background-size: 280px auto;
  background-color: @main-color;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url(../img/picture/gift-photo-mobile@2x.jpg);
  }

  &::after {
    content: '';
    position: absolute;
    top: 65px;
    left: 0;

    display: block;
    width: 55px;
    height: 60px;
    margin-left: 50%;
    transform: translateX(-50%);

    background-image: url(../img/icon/gift.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.extra__stock-descr {
  display: block;
  padding: 185px 0 43px;
  margin: 0 20px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #fff;
}

@media (min-width: @tablet) {
  .extra__headline {
    margin: 0 0 80px;

    font-size: 36px;
    line-height: 36px;

    background-image: linear-gradient(to bottom, transparent 0, transparent 16px, @main-color 16px, @main-color 19px, transparent 19px, transparent 100%);
  }

  .extra__headline-span-wrapper {
    width: @tablet - (@tablet-padding * 2);
    margin: 0 auto;
  }

  .extra__headline-span {
    padding: 0 35px;
  }

  .extra__list {
    width: @tablet - (@tablet-padding * 2);
    margin: 0 auto 69px;
  }

  .extra__li-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    margin: 25px 40px 27px;
  }

  .extra__li {
    padding: 0;
    margin: -1px 0 0;

    border: 1px solid #cdcdcd;
  }

  .extra__item-table,
  .extra__item {
    width: 284px;
    align-self: flex-end;
    margin: 0 0 25px;
  }

  .extra__item {
    font-size: 20px;
    line-height: 20px;
  }

  .extra__table-data {
    font-size: 16px;
    line-height: 20px;
    
    &:first-child {
      width: 192px;
  
      text-align: right;
    }
  }

  .extra__button {
    width: 100%;
  }

  .extra__stock {
    display: flex;
    width: @tablet - (@tablet-padding * 2);
    min-height: 200px;
    margin: 0 auto;

    background-image: url(../img/picture/gift-photo-tablet@1x.jpg);
    background-size: 708px auto;

    &::after {
      left: 90px;

      margin: 0;
      transform: none;
    }

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/picture/gift-photo-tablet@2x.jpg);
    }
  }

  .extra__stock-descr {
    align-self: center;
    padding: 0;
    margin: 0 0 0 423px;

    text-align: left;
  }
}

@media (min-width: @desktop) {
  .extra__headline-span-wrapper {
    width: @desktop - (@desktop-padding * 2);
  }

  .extra__wrapper {
    display: flex;
    justify-content: space-between;
    width: @desktop - (@desktop-padding * 2);
    margin: 0 auto;
  }

  .extra__list {
    width: 895px;
    margin: 0;
  }

  .extra__stock {
    width: 245px;
    margin: 0;

    background-image: url(../img/picture/gift-photo-desktop@1x.jpg);
    background-size: 245px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url(../img/picture/gift-photo-desktop@2x.jpg);
    }
  }

  .extra__li {
    margin: 0;

    border: none;
    border-top: 1px solid #cdcdcd;
  }

  .extra__li-wrapper {
    align-items: center;
    margin: 16px 0 15px;
  }

  .extra__item,
  .extra__item-table {
    align-self: auto;
    width: 285px;
    margin: 0;
  }

  .extra__button {
    width: 245px;
  }

  .extra__stock-descr {
    align-self: auto;
    width: 100%;
    margin: 188px 0 0;

    text-align: center;
  }
}