.main-form {
  padding: 17px 0 0;
}

.main-form__headline {
  width: @mobile - (@mobile-padding * 2);
  margin: 0 auto 25px;
}

.main-form__description {
  width: @mobile - (@mobile-padding * 2);
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding-right: 20px;

  font-family: @oswald;
  text-transform: uppercase;
  color: @font-headlines;
}

.main-form__form {
  margin-bottom: 32px;
}

@media (min-width: @tablet) {
  .main-form {
    padding: 0;
  }

  .main-form__headline {
    width: @tablet - (@tablet-padding * 2);
    margin: 0 auto 53px;

    font-size: 60px;
  }

  .main-form__description {
    width: @tablet - (@tablet-padding * 2);
    box-sizing: border-box;
    padding-left: 40px;
    margin: 0 auto 65px;

    font-size: 20px;
    line-height: 30px;
  }

  .main-form__form {
    margin: 0 0 70px;
  }
}

@media (min-width: @desktop) {
  .main-form__headline {
    width: @desktop - (@desktop-padding * 2);
  }

  .main-form__description {
    width: @desktop - (@desktop-padding * 2);
    padding-left: 0;
  }

  .main-form__form {
    margin-bottom: 82px;
  }
}