.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-nav__li {
  display: flex;
  min-height: 65px;

  border-top: 1px solid #e6e6e6;
}

.main-nav__link {
  width: 100%;
  margin: 0 @mobile-padding;

  font-size: 20px;
  line-height: 65px;
  font-family: @oswald;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @font-main-navigation;

  &:hover:not(.main-nav__link--active) {
    opacity: 0.6;
  }

  &:active:not(.main-nav__link--active) {
    opacity: 0.3;
  }
}

.main-nav__link--active .main-nav__link-span {
  padding-bottom: 5px;

  border-bottom: 2px solid @main-color;
}

@media (min-width: @tablet) {
  .main-nav__list {
    flex-direction: row;
    margin-top: 42px;
  }

  .main-nav__link {
    margin: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: @font-navigation-tablet;
  }

  .main-nav__li {
    min-height: 35px;
    margin-left: 35px;

    border: none;

    &:first-child {
      margin: 0;
    }
  }
}

@media (min-width: @desctop) {
  .main-nav__link {
    font-size: 20px;
    color: #fff;
  }

  .main-nav__link--active .main-nav__link-span {
    border-color: #fff;
  }
}