.main-form {
  padding: 20px 0 0;
}

.main-form__headline {
  padding: 0 @mobile-padding;
  margin: 0 0 25px;
}

.main-form__description {
  padding: 0 @mobile-padding;
  margin: 0 0 20px;

  font-family: @oswald;
  text-transform: uppercase;
  color: @font-headlines;
}

.main-form__form {
  margin-bottom: 35px;
}

.main-form__contacts {
  padding-top: 35px;
}