.main__promo {
  margin-bottom: 22px;
}

.main__categories {
  padding: 0 @mobile-padding;
  margin-bottom: 30px;
}

.main__advantages {
  padding: 0 @mobile-padding;
  margin-bottom: 42px;
}

.main__example {
  padding: 15px 0 35px;
  margin-bottom: 30px;
}

.main__contacts {
  padding-top: 30px;
}