.promo {
  position: relative;

  min-height: 480px;
  padding: 25px 0 0 0;

  background-image:
    url('../img/picture/chiken-background.png'),
    url('../img/picture/keks-green.jpg'),
    linear-gradient(to bottom, #63a73a, #63a73a 305px, #fff 305px, #fff);
  background-repeat: no-repeat;
  background-position:  center 165px,
                        top center,
                        top center;
}

.promo__wrapper {
  margin: 0 @mobile-padding;
}

.promo__headlines {
  margin: 0 0 18px;

  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.promo__descr {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-family: @oswald;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.promo__btn-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0 @mobile-padding;
}

@media (min-width: @tablet) {
  .promo {
    min-height: 810px;

    background: url('../img/picture/chiken-background-tablet.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .promo__wrapper {
    padding-left: 90px;
    margin: 0 @tablet-padding;
  }

  .promo__headlines {
    margin-bottom: 40px;

    width: 427px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @font-headlines;
  }

  .promo__descr {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @font-headlines;
  }

  .promo__btn-wrapper {
    position: static;

    width: 245px;
    margin: 0;
  }
}