.promo {
  position: relative;

  min-height: 480px;
  padding: 25px 0 0 0;

  background-image:
    url('../img/picture/chiken-background.png'),
    url('../img/picture/keks-green.jpg'),
    linear-gradient(to bottom, #63a73a, #63a73a 305px, #fff 305px, #fff);
  background-repeat: no-repeat;
  background-position:  center 165px,
                        top center,
                        top center;
}

.promo__wrapper {
  margin: 0 @mobile-padding;
}

.promo__headlines {
  margin: 0 0 18px;

  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
}

.promo__descr {
  margin: 0;

  font-size: 14px;
  line-height: 14px;
  font-family: @oswald;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.promo__btn-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  margin: 0 @mobile-padding;
}

@media (min-width: @tablet) {
  .promo {
    min-height: 810px;

    background: url('../img/picture/chiken-background-tablet.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
  }

  .promo__wrapper {
    max-width: 1220px;
    box-sizing: border-box;
    padding-left: 90px;
    margin: 0 @tablet-padding;
  }

  .promo__headlines {
    margin-bottom: 40px;

    width: 427px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @font-headlines;
  }

  .promo__descr {
    margin-bottom: 50px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @font-headlines;
  }

  .promo__btn-wrapper {
    position: static;

    width: 245px;
    margin: 0;
  }
}

@media (min-width: @desktop) {
  .promo {
    position: relative;

    min-height: 696px;
    padding: 0;

    background-image:
      url(../img/picture/index-background-desktop@1x.jpg),
      linear-gradient(to right, transparent 0%, transparent 50%; @background-promo 50%, @background-promo 100%), url(../img/picture/index-background-desktop@1x.jpg);
    background-position: top right;

    &::before {
      content: '';
      position: absolute;
      top: 21%;
      right: 50%;
      transform: translateX(71%);

      display: block;
      width: 552px;
      height: 499px;

      background-image: url(../img/picture/index-can-desktop@1x.png);
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .promo__wrapper {
    padding: 225px 0 0 80px;
    margin: 0 auto;
  }

  .promo__headlines {
    margin-bottom: 30px;
  }
}