// Fonts
@oswald: 'Oswald', Arial, sans-serif;
@arial: Arial, sans-serif;

// Colors
@font-main: #444444;
@font-headlines: #111111;
@font-main-navigation: #111111;
@main-color: #68b738;

// Viewport
@tablet: 748px;
@desctop: 1280px;

@mobile-padding: 20px;
@tablet-padding: 30px;
@desctop-padding: 40px;