// Fonts
@oswald: "Oswald", "Arial Narrow", "Helvetica CY", "Nimbus Sans L", sans-serif;
@arial: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;

// Colors
@font-main: #444444;
@font-headlines: #111111;
@font-main-navigation: #111111;
@font-link: #111111;
@font-extra: #222222;
@font-form: #222222;
@main-color: #68b738;
@main-color--hover: #5eaa2f;
@background: #f2f2f2;
@error: #ff8282;

// Viewport
@tablet: 748px;
@desctop: 1280px;

@mobile-padding: 20px;
@tablet-padding: 30px;
@desctop-padding: 40px;